body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
    background-color: #006BA6;
    display: grid;
    grid-template-rows: repeat(1, 4fr) repeat(6, 1fr) repeat(1, 2fr) repeat(20, 1fr);
    row-gap: 6px;
}

.sub-side {
    grid-column-start: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

#settings-sidebar {
    grid-row-start: 9;
}

#support-sidebar {
    grid-row-start: 10;
}

#privacy-sidebar {
    grid-row-start: 11;
}

.logo {
    grid-row-start: 2;
}

#logo-text {
    font-size: 2rem;
    color: #FFFFFF;
}

.nav-sect {
    color: #FFFFFF;
    font-size: 1.3rem;
}

[id$=icon] {
    grid-column: 2 / 3;
}

[id$=text] {
    grid-column: 3 / 6;
}

#header {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, 2rem) repeat(1, 3rem) repeat(5, auto) repeat(1, 7rem) repeat(1, 5rem) repeat(1, 7rem) repeat(1, 2rem);
    grid-template-rows: repeat(1, 0.5rem) repeat(2, 1fr) repeat(1, 1rem);
}

#search-query-icon {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
}

#search-bar {
    max-height: 20px;
    grid-area: 2 / 3 / 3 / 6;
    border: none;
    border-radius: 8px;
    background-color: #E9E9E9;
    align-self: center;
}

#notification-bell {
    grid-area: 2 / 9 / 3 / 10;
    justify-self: end;
    align-self: center;
}

#mini-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    grid-area: 2 / 10 / 3 / 11;
    justify-self: center;
    align-self: center;
}

#corner-user-name {
    grid-column: 11 / 12;
    grid-row-start: 2;
    align-self: center;
    justify-self: end;
}

#profile-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    grid-area: 3 / 2 / 4 / 3;
    align-self: center;
}

#welcome-text {
    grid-area: 3 / 4 / 4 / 5;
    align-self: center;
}

.btn {
    height: 2rem;
    width: 5rem;
    background-color: #006BA6;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 16px;
    border: none;
}

#new-btn {
    grid-area: 3 / 9 / 4 / 10;
    align-self: center;
}

#upload-btn {
    grid-area: 3 / 10 / 4 / 11;
    align-self: center;
}

#share-btn {
    grid-area: 3 / 11 / 4 / 12;
    justify-self: end;
    align-self: center;
}

#content-wrapper {
    grid-column: 2 / 7;
    grid-row: 2 / 7;
    background-color: #E9E9E9;
    display: grid;
    grid-template-columns: repeat(1, 1rem) repeat(1, 3.5fr) repeat(1, 1fr) repeat(1, 1rem);
    grid-template-rows: repeat(1, 2rem) repeat(1, 1fr) repeat(1, 1rem) repeat(1, 1fr) repeat(1, 2rem);
}

#project-space {
    grid-area: 2 / 2 / 5 / 3;
    display: grid;
    grid-template-rows: repeat(1, 2rem) repeat(1, 1fr);
}

#project-title {
    justify-self: start;
    align-self: center;
}

#project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem 1rem;
    margin-right: 1rem;
}

.project {
    background-color: #FFFFFF;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(1, 3fr) repeat(3, 1fr);
    grid-template-rows: repeat(1, 3fr) repeat(1, 1fr);
    padding: 0.5rem;
}

.project-blurb {
    grid-area: 1 / 1 / 2 / 5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-star {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: center;
}

.icon-eye {
    grid-area: 2 / 3 / 3 / 4;
    justify-self: center;
}

.icon-branch {
    grid-area: 2 / 4 / 3 / 5;
    justify-self: center;
}

#announcements-space {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-rows: repeat(1, 2rem) repeat(1, 1fr);
}

#trending-space {
    grid-area: 4 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: repeat(1, 2rem) repeat(1, 1fr);
}

#trending-title {
    justify-self: start;
    align-self: center;
}

#trending-grid {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(1, 1fr) repeat(1, 3fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 0.5rem;
}

#trending-grid img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-self: center;
}

#trending-grid div {
    align-self: center;
}