body {
    margin: 0;
}

#main-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #006BA6;
    display: grid;
}

.nav-sect {
    border: 1px solid black;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #786452;
}

#content-wrapper {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: #FFFFFF;
}

