body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#main-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100vw;
    height: 100vh;
}

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    background-color: #006BA6;
    display: grid;
    grid-template-rows: repeat(1, 4fr) repeat(6, 1fr) repeat(1, 2fr) repeat(20, 1fr);
    row-gap: 6px;
}

.sub-side {
    grid-column-start: 2;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

#settings-sidebar {
    grid-row-start: 9;
}

#support-sidebar {
    grid-row-start: 10;
}

#privacy-sidebar {
    grid-row-start: 11;
}

.logo {
    grid-row-start: 2;
}

#logo-text {
    font-size: 2rem;
    color: #FFFFFF;
}

.nav-sect {
    color: #FFFFFF;
    font-size: 1.3rem;
}

[id$=icon] {
    grid-column: 2 / 3;
}

[id$=text] {
    grid-column: 3 / 6;
}

#header {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: #786452;
}

#content-wrapper {
    grid-column: 2 / 6;
    grid-row: 2 / 6;
    background-color: #FFFFFF;
}

